mixin features()
  -
    const featuresList = [
      {
        title: "Разведение ежиков",
        text: "Собственная ферма, уход и содержание",
        img: "img/svg/hedgehog.svg",
        alt: "Ежик это",
        wrapperMod: "almond"
      },
      {
        title: "Здоровье",
        text: "Всегда прививаем и вовремя обследуем ваших будущих питомцев",
        img: "img/svg/solid.svg",
        alt: "Ежик это",
        wrapperMod: "green"
      },
      {
        title: "Любовь и&nbsp;забота",
        text: "Каждому ежику мы дарим много внимания",
        img: "img/svg/health.svg",
        alt: "Ежик это",
        wrapperMod: "gumbo"
      },
    ]

  section.features
    .container
      h2.visually-hidden Зачем покупать ёжика?
      ul.features__list
        each item, index in featuresList
          li.features__item(data-order=index)
            h3.features__title!=item.title
            p.features__text=item.text
            span.features__image-wrapper(class=`features__image-wrapper--${item.wrapperMod}`)
              img.features__image(src=item.img alt=item.alt width="72" height="72")
